<!DOCTYPE html>
<html lang="pt-BR">
    <!-- Aluno: Áquila Daniel Fernandes matrícula: 2023211510068 -->
<head>
    <meta charset="UTF-8">
    <title>Comidas Típicas do Sul do Brasil</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: hsl(219, 78%, 57%);
            color: #fff;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        header {
            background-color: hsl(133, 33%, 62%);
            color: #fff;
            padding: 20px;
        }
        main {
            padding: 20px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Culinária Típica do Sul do Brasil</h1>
    </header>
    <main>
        <section>
            <h2>História das Comidas Típicas do Sul</h2>
            <hr>
            <p>As comidas típicas do  <strong><em>Sul do Brasil</em></strong> refletem a rica herança cultural da região, que inclui influências de imigrantes europeus, como alemães, italianos e poloneses. Essa culinária única é uma mistura de sabores e tradições.</p>
            <p>Desde a colonização, ingredientes como carne de porco, milho, batata, repolho e queijos desempenham um papel importante na alimentação sulista, resultando em pratos saborosos e reconhecíveis em todo o país.</p>
        </section>
        <section>
            <h2>Características das Comidas Típicas do Sul</h2>
            <hr><br>
            <p>As comidas típicas do <strong><em>Sul do Brasil</em></strong> são conhecidas por sua diversidade e sabor único. Alguns pratos populares incluem churrasco gaúcho, cuca, pierogi, entre outros.</p>
            <p>Além disso, a região é famosa por suas sobremesas, como sagu com creme, ambrosia e o famoso chimarrão, uma bebida tradicional à base de erva-mate. A combinação de ingredientes frescos e técnicas de preparo cuidadosas cria uma experiência gastronômica incomparável.</p>
        </section>
        <section>
            <h2>Estados da Região Sul do Brasil</h2>
            <hr>
            <ul>
            <li>Paraná</li>
            <li>Rio Grande do Sul</li>
            <li>Santa Catarina</li>
            </ul>
            <hr>
        </section> 
    </main>
    <footer>
        <p><a href="/" style = color:#fff>>>>Saiba mais sobre os Sabores Brasileiros</a></p>
        <p><a href="/norte" style = color:#fff> >>>Saiba mais sobre a culinária nordestina</a></p>
    </footer>
</body>
</html>
