<!DOCTYPE html>
<html lang="pt-BR">
    <!-- Aluno: Áquila Daniel Fernandes matrícula: 2023211510068 -->
<head>
    <meta charset="UTF-8">
    <title>Comida Nordestina Brasileira</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #ece2bf;
            color: #8b4300;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        header {
            background-color: #e7a33c;
            color: #f7f7f7;
            padding: 20px;
        }
        main {
            padding: 20px;
        }
        hr {
            border-color: #8b4300;
        }
    </style>
</head>
<body>
    <header>
        <h1>Culinária Nordestina Brasileira</h1>
    </header>
    <main>
        <section>
            <h2>História da Comida Nordestina</h2>
            <hr>
            <p>A comida nordestina brasileira é rica em sabores e tradições que remontam às raízes culturais do Nordeste do Brasil. Com influências indígenas, africanas e europeias, essa culinária tem uma história fascinante.</p>
            <p>Desde o período colonial, ingredientes como mandioca, milho, feijão, coco e frutas tropicais têm desempenhado um papel fundamental na alimentação dos nordestinos, resultando em pratos únicos e deliciosos.</p>
        </section>
        <section>
            <br>
            <h2>Características da Comida Nordestina</h2>
            <hr>
            <p>A comida nordestina é conhecida por sua diversidade e uso criativo de ingredientes locais. Alguns pratos populares incluem acarajé, tapioca, carne de sol, buchada de bode e muitos outros.</p>
            <p>Além disso, a região é famosa por seus doces, como o bolo de rolo e o quindim. A combinação de temperos, ervas e especiarias cria sabores únicos e inesquecíveis que atraem amantes da gastronomia de todo o país.</p>
            <br><hr><br>
        </section>
        <section>
            <h2>Estados da Região Sul do Brasil</h2>
            <hr>
            <ul>
                <li>Alagoas</li>
                <li>Bahia</li>
                <li>Ceará</li>
                <li>Maranhão</li>
                <li>Paraíba</li>
                <li>Pernambuco</li>
                <li>Piauí</li>
                <li>Rio Grande do Norte</li>
                <li>Sergipe</li>
            </ul>
            <hr>
        </section>
    </main>
    <footer>
        <p><a href="/sul" style = color:#8b4300>>>>Saiba mais sobre a culinária típica do Sul brasileiro </a></p>
        <p><a href="/" style = color:#8b4300>>>>Saiba mais sobre as Ricas cozinhas do Brasil</a></p>
    </footer>
</body>
</html>
